@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap");
@import "tailwindcss";

/* Apply IBM Plex Sans Arabic to all text */
* {
  font-family: "IBM Plex Sans Arabic";
}

@theme {
  --color-primary: #3d4d9c;
  --color-secondary: #bba066;
}
